// font 
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'sequel-book';
    src: url(../fonts/Sequel-Sans-Book-Head.ttf);
}
@font-face {
    font-family: 'sequel-medium';
    src: url(../fonts/Sequel-Sans-Medium-Head.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'sequel-book';
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Barlow Condensed', sans-serif;
}

// colors
:root {
    --blue: #01B4D2;
    --blue2: #5A8CFF;
    --blue3: #2264DC;
    --blue4: #000B41;
    --text: #464646;
    --dark: #1E1E1E;
    --light: #F9F8F6;
    // --brown-gr: linear-gradient(90.49deg, #D26A51 -6.14%, #86410D 99.75%);
}

// body {
//     background: #F3F3F3;
// }

li {
    list-style: none !important;
}

a {
    text-decoration: none !important;
}

ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

@keyframes rotate {
    0%{
        transform: translate(-50% , -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50% , -50%) rotate(360deg);
    }
}

.main-btn{
    position: relative;
    padding: 12px 2em;
    background: var(--blue3);
    outline: none;
    border: none;
    display: inline-block;
    max-width: max-content;

    span{
        color: white;
        font-family: 'sequel-medium', sans-serif;
    }

    &.white{
        position: relative;
        background: white;

        span{
            color: var(--blue4);
        }
    }

    &.tr-btn{
        position: relative;
        background: transparent;
        border: 1px solid rgba($color: #000000, $alpha: 0.2);

        span{
            color: black;
        }
    }

    &.with-icon{
        gap: 10px;
    }

    &.center{
        margin: 0 auto;
        display: flex;
        max-width: max-content;
    }

    &.border-btn{
        border: 1px solid rgba($color: #000000, $alpha: 0.45);
        background: transparent;

        span{
            color: black;
        }

        &.white{
            border: 1px solid rgba($color: #fff, $alpha: 0.45);

            span{
                color: white;
            }
        }
    }
}
.light-bg{
    background: var(--light);
}
.line{
    background: #D9D9D9 !important;
}
.light-blue-bg{
    background: #F2F7FB;
}
.dark-blue-bg{
    background: #15222D;
}

.sec{
    padding: 5em 0px;
    position: relative;
    overflow: hidden;
}

.sec-head{
    position: relative;
    margin-bottom: 1.5em;

    p.sub{
        font-family: 'Barlow Condensed', sans-serif !important;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 0;
    }

    &.white{
        color: white;
    }

    &.center{
        text-align: center;
    }

    h2{
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 600;
        font-size: 45px;
        line-height: 100%;
        text-transform: capitalize;

        span{
            font-family: 'Barlow Condensed', sans-serif;
            font-weight: 600;
            color: var(--blue3);
        }
    }
}


/* firefox */
//firefox

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--knightblue) transparent;
}
.custom-scrollbar:-webkit-scrollbar {
    width: 11px;
}
.custom-scrollbar:-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar:-webkit-scrollbar-thumb {
    background-color: var(--knightblue);
    border-radius: 6px;
    border: 3px solid transparent;
}
/* webkit browsers */
.custom-scrollbar::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar-thumb {
    height: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}
p.para{
    font-size: 16px;
    color: var(--text);
    line-height: 140%;

    &.white{
        color: white;
    }
}
.quote{
    font-family: 'Libre Caslon Text', serif;
    font-size: 16px;

    span{
        margin-top: 25px;
        display: inline-block;
        font-weight: 500;
        font-size: 16px;
        color: black;
    }
}
.blue-gr{
    background: url(../images/blue-gr.jpg) top/cover no-repeat;
}
.cn-l{
    position: relative;

    li{

        a{
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 8px 0px;

            span{
                color: white;
                text-decoration: underline;
            }

            img{
                width: 28px;
            }
        }
    }
}