.home-page {
    overflow: hidden;
}

.main-nav .inner-nav .m-part{position: static;}
/*#main_nav ul li{padding-bottom: 30px;}*/
#main_nav ul li a{color: #333333; font-weight: 500;  padding: 10px 0px 10px; text-transform: uppercase; font-size: 13px; cursor: pointer;
    }
.main-nav .inner-nav .ot-list .main-btn span{ }
.is-sticky #main_nav ul li a{color: #000000}
#main_nav .sub_menu a{display: block;  padding: 10px; margin-bottom:0px; border-right: 1px solid #cccccc;}
#main_nav .sub_menu a span{display: block; margin: 0px; color: #2264dc; font-size: 13px; font-weight: 500; text-transform: uppercase;}
#main_nav .sub_menu a p{font-size: 11px; color: #333333; line-height: 20px; letter-spacing: 0.5px; margin: 0; font-weight: 400; text-transform: none;}
#main_nav .sub_menu a:hover{background: #eeeeee;}
.dropdown-menu>li:hover>.submenu, .dropdown:hover>.dropdown-menu{padding-top: 20px; border:none;}

#main_nav .sub_menu ul.case{display: block; margin: 0 60px; padding: 7px 0px 12px 0px;}
#main_nav .sub_menu ul.case li{display: inline-block; margin-right: 20px; padding-right: 20px; border-right: 1px solid #cccccc; line-height: 20px;}
#main_nav .sub_menu ul.case li a{font-size: 16px; display: inline-block; color: #000000; padding: 0; margin: 0; text-transform: capitalize; 
    border-radius: 0; line-height: 15px; border: none;}
#main_nav .sub_menu ul.case li:last-child{border: none;}

.main-nav .inner-nav .ot-list{margin: 0 0 5px 0 !important;}
.main-nav .inner-nav .l-part{margin-bottom: 0px;}


.is-sticky #main_nav ul li a.nav-link{padding: 10px 0px 10px;}
.main-nav.is-sticky .inner-nav .ot-list{margin: 0 0 0px 0 !important;}
.main-nav.is-sticky .inner-nav .l-part{margin-bottom: 0px;}
.main-nav.is-sticky .inner-nav{padding: 10px 3em;}


/* Custom CSS start here */
.main-banner-swiper-container .banner-pagination{display: none;}
.main-nav .inner-nav .l-part .logo{width: 250px;}
.main-nav{position: static;}
.main-nav .inner-nav{padding: 10px 3rem;}

/*.menu-link{z-index: 1; position: absolute; bottom: 10px;}
.menu-link ul li{display: inline-block; margin-right: 30px;}
.menu-link ul li a{color: #ffffff; text-transform: uppercase; font-size: 13px; text-decoration: underline !important; letter-spacing: 1px; }*/

.menu-link{margin: 30px 0;}
.menu-link ul{ display: flex; flex-wrap: wrap;}
.menu-link ul li{-webkit-box-flex: 1; -ms-flex: 1; flex: 1; text-align: center; position: relative; margin-right: 20px;}
.menu-link ul li:last-child{margin-right: 0;}
.menu-link ul li a{color: #ffffff; text-transform: uppercase; font-size: 15px; background: #1b5dbc; letter-spacing: 1px; padding: 10px 20px; 
    display: block; cursor: pointer;}



.main-banner .banner-content-area h1{font-size: 50px;  text-transform: uppercase; line-height: 50px;}
.main-banner .banner-content-area h1 span {color: #2264dc; font-style: normal; font-weight: 800;}
.main-banner .banner-content-area h1 br{display: none;}
.home-page p.para{float: right;}
.main-banner-swiper-container .swiper-slide-active p{  margin: 0;}

/*.more-info .col-lg-5{ background-position: -13px -40px !important;}*/
.more-info p{ font-weight: 500; text-align: justify; padding: 110px 110px 50px; }
.more-info a{font-size: 16px; color: #ffffff; background: #19405d; padding: 10px 30px; box-shadow: 0 10px 25px; #cccccc; display: inline-block; 
    margin-bottom: 30px; cursor: pointer;}

.paragraph{ color:#ffffff;  padding: 10px 30%; letter-spacing: 0.7px; font-size: 17px;}
.home-page .sec-head h2{color: #ffffff; font-weight: 500; }
.home-page .sec-head h2 span{color: #ffffff; font-weight: 700; }

.home-page .sec-head.txt-dark h2{color: #000000;}

.transforming {margin-top: 23px;}
.transforming h3{
    position: absolute;
    top: 0;
    color: #ffffff;
    font-size: 24px;
    
    min-height: 68px;
    font-weight: 500;
    padding: 20px;
}
.transforming img{height: 300px;}
.c-part {
    opacity: 0;
    position: absolute;
    top: 25%;
    padding: 20px;
}
.c-part p {
    color: #ffffff;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4; 
    -webkit-box-orient: vertical;
}
.transforming:hover .c-part{
    opacity: 1;
    transition: 2s ease-in;
}
.c-part a{font-size: 18px; color: #ffffff;  background: #2264dc; padding: 10px 20px; text-transform: capitalize;
border-radius: 3px;}
.c-part a:hover{background: #19405d;}
.img-hover{ 
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition:transform 0.5s ease-in-out;
    -ms-transition:transform 0.5s ease-in-out;
}
.img-hover:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.c-part.c-part-2{bottom: 5%; top: auto;}


.innovation h2{text-align: left; color: #000000;}
.innovation p{padding: 0; text-align:left; color: #333333; margin-top: 20px; }

div#carouselExampleIndicators {
/*    background: rgb(55 114 255) url(../images/bg.png);*/
/*    padding: 40px 20px;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0px 10px 25px #462a99;*/
}
.testimonial { padding: 0;}
.testimonial .row .tabs {
    all: unset;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}
.testimonial .row .tabs li {
    all: unset;
    display: block;
    position: relative;
}
.testimonial .row .tabs li.active::before { display: none;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: #3772ff;
    border-radius: 50%;
}
.testimonial .row .tabs li.active::after { display: none;
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: #df2935;
    border-radius: 50%;
}
.testimonial .row .tabs li:nth-child(1) {
    align-self: flex-end;
}
.testimonial .row .tabs li:nth-child(1)::before {
    left: 64%;
    bottom: -50px;
}
.testimonial .row .tabs li:nth-child(1)::after {
    left: 97%;
    bottom: -81px;
}
.testimonial .row .tabs li:nth-child(1) figure img {
    margin-left: auto;
}
.testimonial .row .tabs li:nth-child(2) {
    align-self: flex-start;
}
.testimonial .row .tabs li:nth-child(2)::before {
    right: -65px;
    top: 50%;
}
.testimonial .row .tabs li:nth-child(2)::after {
    bottom: 101px;
    border-radius: 50%;
    right: -120px;
}
.testimonial .row .tabs li:nth-child(2) figure img {
    margin-right: auto;
    max-width: 300px;
    width: 100%;
    margin-top: -50px;
}
.testimonial .row .tabs li:nth-child(3) {
    align-self: flex-end;
}
.testimonial .row .tabs li:nth-child(3)::before {
    right: -10px;
    top: -66%;
}
.testimonial .row .tabs li:nth-child(3)::after {
    top: -130px;
    border-radius: 50%;
    right: -46px;
}
.testimonial .row .tabs li:nth-child(3) figure img {
    margin-left: auto;
    margin-top: -50px;
}
.testimonial .row .tabs li:nth-child(3):focus {
    border: 10px solid red;
}
.testimonial .row .tabs li figure {
    position: relative;
}
.testimonial .row .tabs li figure img {
    display: block;
}
.testimonial .row .tabs li figure::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 6px solid #3772ff;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.testimonial .row .tabs li figure:hover::after {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.testimonial .row .tabs.carousel-indicators li.active figure::after {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.testimonial .row .carousel > h3 {
    font-size: 21px;
    line-height: 1.45;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 0;
}
.testimonial .row .carousel h1 {
    font-size: 40px;
    line-height: 1.225;
    margin-top: 23px;
    font-weight: 700;
    margin-bottom: 0;
}
.testimonial .row .carousel .carousel-indicators {
    all: unset;
    padding-top: 43px;
    display: none;
    list-style: none;
}
.testimonial .row .carousel .carousel-indicators li {
    background: #ffffff;
    background-clip: padding-box;
    height: 5px;
    width: 30px;
    cursor: pointer;
    margin: 0 8px;
}
.testimonial .row .carousel .carousel-indicators li.active{background: #df2935;}
.testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper { margin-top: 42px;}
.testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper p {
    font-size: 18px;
    line-height: 1.72222;
    font-weight: 500;
    color: #ffffff;
    
}
.testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper h3 {
    color: #ffffff;
    font-weight: 700;
    margin-top: 37px;
    font-size: 20px;
    line-height: 1.45;
    text-transform: uppercase;
    
}

@media only screen and (max-width: 1200px) {
    .testimonial .row .tabs {
        margin-right: 25px;
    }
}

.arrow i{color: #f00; font-size: 50px;}
.sec-head.industries h2{color: #333333; letter-spacing: 1px;}
.sec-head.industries p{  text-align: justify !important; line-height: 30px; margin-top: 30px;}

.banner-text {
    position: absolute;
    top: 32%;
    left: 15%;
    width: 50%;
}
.banner-text p {
    font-size: 75px;
    color: #ffffff;
    font-weight: normal;
    font-family: "Barlow Condensed", sans-serif;
    line-height: 75px;
}
.banner-text p b{
    font-weight: 700;
    color: #2264dc;
    font-family: "Barlow Condensed", sans-serif;
}
.we-built {
    text-align: center;
}
.we-built p {
    font-weight: normal;
    font-size: 60px;
/*    text-align: right;*/
    line-height: 60px;
    font-family: "Barlow Condensed", sans-serif;
    
}
.we-built p b {
    font-weight: 700;
    color: #2264dc;
    font-family: "Barlow Condensed", sans-serif;
    
}

.why-choose .sec-head h2{color: #19405d; font-weight: 600; font-size: 50px;}
.why-choose .swiper-slide{border: 1px solid #2888cf;}
.why-choose .swiper-slide h4{position: absolute; top: 10px; left: 20px; padding: 0 10px; font-size: 24px; letter-spacing: 2px; font-weight: bold; text-transform: uppercase; color: #ffffff;  font-family: "Barlow Condensed", sans-serif;}
.why-choose .swiper-slide h4 b{color: #ffffff; font-weight: normal;  font-family: "Barlow Condensed", sans-serif;}
.why-choose .swiper-slide p{font-size: 15px; color: #19405d; line-height: 24px; text-align: justify; margin: 15px; font-weight: 500;}

.achievement-sec{padding: 140px 0 100px; position: relative;}
.achievement-sec:after{content: 'ACHIEVEMENTS'; position: absolute; left: 0; right: 0; top: 0; font-size: 135px; margin: 0; line-height: 140px;
    letter-spacing: 68px; color: #95acbc;  font-weight: 900; font-family: "Barlow Condensed", sans-serif; text-align: center width:100%;}
.sec-hgt { background: #738998;}
.achievements .sec-hgt p{font-size: 16px; color: #ffffff; padding: 80px 30px; text-align: center; letter-spacing: 1.5px;}

.achievements .swiper-button-prev, .achievements .swiper-button-next{top: 46%;}
.let-get{padding: 50px 0; background-color: #264d69;}
.let-get .sec-head h2{font-size: 80px; font-weight: 500; text-align: left;  word-wrap: normal; white-space: nowrap;}
.let-get p{font-size: 16px; color: #ffffff; margin-top: 50px; letter-spacing: 0.5px;}
.let-get a{    
    font-size: 15px;
    color: #ffffff;
    padding: 20px 0px;
    display: inline-block;
    vertical-align: top;
    margin: 80px 30px 0 0;
    text-transform: uppercase;
    background: #9fb1bd;
    border-radius: 3px;
    letter-spacing: 1px;
    width: 250px;
    text-align: center;
}
.let-get a:hover{background: #2264dc;}
.let-get img{}

.main-banner{min-height: calc(80vh - 0px);}
.main-banner .container .row {min-height: calc(45vh - 0px);}
.achievements{padding: 0px;}
/*.achievement-sec .container{max-width:1240px; width: 1240px;}*/

.let-get .sec-head{margin: 0 0 0 120px; z-index: 9;}


.we-automate p{color: #333333; font-size: 26px; font-weight: 500; text-align: center;}

.main-banner > img{position: static;}
.home-page .banner-content { position: absolute; top: 0;}
.banner_para{font-size: 18px; color: #ffffff; font-family: "sequel-book", sans-serif;}
.main-banner .banner-content-area:after { content: ''; background: #2264dc; width: 1px; height: 140px; position: absolute; right: -67px; top: 0;}

.why-choose .container{width: 1200px; max-width: 1200px;}
.why-choose-sec {  margin: 0 25px 30px;}
.why-choose-sec img{width: 80px;}
.why-choose-sec h4{font-size: 21px; color: #000000; font-family: "Barlow Condensed", sans-serif; font-weight: 600; margin: 20px 0;}
.why-choose-sec p{font-size: 15px; color: #333333;  margin: 0;  min-height: 112px;}

.our-significant .sec-head h2{text-align: center; color: #000000; margin-bottom: 40px;}

.our-significant .why-choose-sec{margin: 10px 0 80px;  text-align: center;}
.our-significant .why-choose-sec:hover{box-shadow: none;}

.col-lg-4 .why-choose-sec { margin: 0 40px 30px;}

/*section#whom-do-we-serve{background: url('../images/Industries-Section.webp'); background-repeat: no-repeat; width: 100%; background-size: cover;
    background-position: 0 0;  padding: 30px 0 330px;}*/

.industries-section{position: absolute; top: 10%; width: 45%;}    

section#whom-do-we-serve .sec-head {margin-left: 100px;}



/* ============================== */
/* RESPONSIVE CSS START HERE */


@media all and (min-width: 992px) {
    .dropdown-menu { width: 13rem;}
    .mega-submenu { left: 100%; top: 0; min-width: 25rem;}
    .ktm-mega-menu { position: static; margin: 0 15px;}
    .mega-menu {left: 0; right: 0; width: 100%; margin: 0 auto; overflow: hidden; border-radius: 0px 0px 10px 10px;}
    .menu-white{padding: 0 0px 0 40px;}
    .dropdown-menu li { position: relative;}
    .dropdown-menu .submenu { display: none; left: 100%; top: 0;}
    .dropdown-menu>li:hover>.submenu, .dropdown:hover>.dropdown-menu { display: block; padding-top: 20px;}
}

@media (max-width:1299px){
    .ktm-mega-menu{margin: 0 10px;}
}

@media (max-width:1199px){
    .main-nav .inner-nav { padding: 10px 1rem;}
    .main-nav .inner-nav .l-part .logo{width: 180px;}
    .ktm-mega-menu { margin: 0 5px;}
    .main-btn{padding: 5px 1rem;}
    .main-banner .banner-content-area h1{font-size: 35px;}
}

@media (max-width:991px){
    .mob_view{display: none;}
    .main-nav:not(.is-sticky) .menu-btn img { filter: invert(0%) brightness(0%);}
    .main-nav .inner-nav .l-part .logo { width: 240px; padding: 0;}
}


@media (max-width: 450px){
    .main-nav { padding: 5px 0px;}
    .main-nav .inner-nav .ot-list {margin: 0 0 0px 0 !important;}
    .main-nav .inner-nav .l-part .logo img { width: 180px !important;}
    .main-nav .ot-list .main-btn { padding: 5px 10px;}


}





















