@media (max-width: 1100px) {
  .swiper-pagination.vertical {
    left: -2.5% !important;
  }
   .main-nav .inner-nav .m-part .nav-list{
      gap: 20px !important;
  }
   .main-nav .inner-nav .m-part{
      gap: 20px !important;
  }
}
@media (max-width: 991px) {
  .menu-btn {
    display: block;
  }
  .main-nav .inner-nav .m-part .nav-list {
    display: none;
  }
  .main-nav .inner-nav {
    padding: 15px 1.5em;
  }
 
}
@media (max-width: 600px) {
  .team-inner-img{
    margin-top: 0 !important;
    margin-bottom: 25px;
  }
  .job-grid{
    grid-template-columns: 1fr;
  }
    .dt-nav-area.arc-sw-nav{
        bottom: 0px !important;
    }
    .vl-grid{
        grid-template-columns: 1fr 1fr;
    }
    .lg-gr{
        grid-template-columns: 1fr 1fr;
    }
    .abt-cta-head{
        margin-top: 25px !important;
    }
    .has-mega-menu > a::before{
        right: 1.5em;
    }
  .wh-row {
    grid-template-columns: 1fr;
    padding-bottom: 1.5em;
  }
  .wh-row .wh-img {
    margin-bottom: 1.2em !important;
  }
  .wh-row:nth-child(2) .l-part {
    grid-row: 2/3;
  }
  .wh-row:nth-child(2) .r-part {
    grid-row: 1/2;
  }
  .counter-container .counter-card:not(:last-child) {
    border-right: 0px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    padding-bottom: 1.5em !important;
    margin-bottom: 1em;
  }
  .df-card:not(:last-child) {
    border-right: 0px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    padding-bottom: 1.5em !important;
    margin-bottom: 1.5em !important;
  }
  .abt-cta-bl-grid .bl-card span {
    font-size: 16px;
  }
  .sd-card {
    margin-top: 1.5em;
  }
  .con-img {
    margin-top: 2.3em !important;
  }
  .date-wrap {
    position: static;
    margin-bottom: 1em;
  }
  .bread-c {
    flex-wrap: wrap;
  }
  .bread-c li a {
    padding-left: 0;
  }
  .img-full {
    margin-bottom: 1em;
  }
  .abt-img {
    margin-top: 1.2em;
  }
  .abt-img img {
    width: 100%;
  }
  .cc-tabs li button {
    height: 100%;
  }
  .cs-card.style-2 .det {
    padding: 1em 1em !important;
  }
  .cc-tabs li {
    min-width: 200px;
  }
  .team-grid {
    grid-template-columns: 1fr 1fr;
  }
  .abt-cta-bl-grid {
    margin-bottom: 1.5em;
  }
  .cta-sec .c2 {
    transform: translateX(70%);
  }
  .cta-sec .c1 {
    transform: translateX(-70%);
  }
  .why-counter-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .vtr-card-wrapper.style-3 {
    padding-top: 0;
  }
  .abt-cta-bl-grid .bl-card span {
    width: 100%;
    word-wrap: break-word;
  }
  .why-counter-grid .counter-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-right: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    padding-bottom: 1.2em !important;
    margin-bottom: 1.2em;
  }
  .df-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .why-coz-con {
    margin-top: 1.5em !important;
  }
  .container-left, .container-right {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  .wh-row .wh-con.container-right {
    padding-left: 1em !important;
  }
  .wh-row .wh-con.container-left {
    padding-right: 1em !important;
  }
  .sec {
    padding: 2em 0px;
  }
  .banner-content-area {
    padding-top: 10em !important;
  }
  .arc-cs-area {
    padding-bottom: 5em !important;
  }
  .main-banner {
    min-height: 20px !important;
  }
  .ft-bottom ul {
    flex-wrap: wrap;
  }
  .main-banner .container .row {
    min-height: 20px !important;
  }
  .banner-pagination {
    display: none !important;
  }
  .main-banner .banner-content-area h1 {
    font-size: 48px;
  }
  .inner-main-header .banner-content {
    min-height: auto !important;
  }
  .main-banner {
    padding-bottom: 3em;
  }
  .hm-tool-sec .ovr-grid {
    grid-template-columns: 1fr;
  }
  .hm-tool-sec .ovr-grid .ovr-grid-item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .hm-tool-sec .ovr-grid .ovr-grid-item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
  .hm-tool-sec .ovr-grid .ov-content-wrapper, .hm-tool-sec .ovr-grid.-odd .ov-content-wrapper {
    padding: 2em 1em 2em 1em;
  }
  .hm-tool-sec .ovr-grid.-odd .ovr-grid-item:nth-child(2) {
    grid-column: 1;
    grid-row: 1;
  }
  .hm-tool-sec .ovr-grid.-odd .ovr-grid-item:nth-child(1) {
    grid-column: 1;
    grid-row: 2;
  }
  .con-img {
    margin-top: 1.5em;
  }
  .sec-head h2, .inner-main-header .banner-content h2 {
    font-size: 30px;
  }
  .why-choose .sec-head h2{
    font-size: 30px;
  }
  .swiper.services-swiper{margin-top: 10px !important;}
  .vtr-card-wrapper .con h3 {
    font-size: 28px;
  }
  .contact-us-sec.style-2 .con-l-part .det {
    margin-top: 0;
  }
  /*.vtr-card-wrapper {*/
  /*  padding-top: 0;*/
  /*}*/
  /*.vtr-card-wrapper:after {*/
  /*  display: none;*/
  /*}*/
  /*.vtr-card-wrapper > img {*/
  /*  height: 300px;*/
  /*  width: 100%;*/
  /*  position: static;*/
  /*  -o-object-fit: cover;*/
  /*     object-fit: cover;*/
  /*  -o-object-position: center;*/
  /*     object-position: center;*/
  /*  transform: scale(1) !important;*/
  /*}*/
  /*.vtr-card-wrapper .con {*/
  /*  padding-left: 0;*/
  /*  padding-right: 0;*/
  /*  position: static;*/
  /*}*/
  /*.vtr-card-wrapper .con h3, .vtr-card-wrapper .con p {*/
  /*  color: black;*/
  /*}*/
  .main-footer .ft-top {
    margin-bottom: 1.5em;
  }
  .srv-inner-pop {
    padding: 1.2em 1em;
  }
  .srv-inner-pop .r-part {
    padding-left: 0;
    border: none;
  }
  .vid-con-area {
    margin-bottom: 2em;
  }
  .container-left {
    padding: 0px 1em;
  }
  .contact-us-sec.style-2 .con-l-part .con-img-style-2 {
    transform: scale(1);
  }
  .ft-head {
    margin-top: 2.5em;
  }
}
@media (max-width: 450px) {
  .main-nav .ot-list .main-btn {
    padding: 10px 15px;
  }
  .main-nav .inner-nav {
    padding: 0px 0.5em;
  }
  .top-bar {
    padding: 8px 0.5em;
  }
  .main-nav .inner-nav .l-part {
    gap: 12px;
  }
  .main-nav .inner-nav .r-part .main-btn {
    padding: 12px 15px !important;
    font-size: 14px !important;
  }
  .main-nav .inner-nav .l-part .logo img {
    width: 100px;
  }
  .main-nav {
    padding: 12px 0px;
  }
}/*# sourceMappingURL=res.css.map */